<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Codechef Recommender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='recommenduser.css')}}"
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><img class="img-fluid center" src="{{url_for('static', filename='chef.png')}}" alt="Codechef"> </div>
            <div class="col-md-6 headertext"> Problem Recommender </div>
        </p>
      </div>
      <br><hr><br>
      <form method="post">
          <div class="col-md-3">
            <input type="text" class="form-control" name="username" placeholder="Enter username">
          </div>
          <div class="col-md-3"> <button name="userApi" class="btn btn-primary">Submit</button> 
          </div>
      </form>
      <form method="post">
          <div class="col-md-3">
            <input type="text" class="form-control" name="codename" placeholder="Enter Problem Id">
          </div>
          <div class="col-md-3"> <button name="probApi" class="btn btn-primary">Submit</button> 
          </div>
      </form>
    </div>
  </body>
</html>
